.category-nav {
	height: 48px;
	background-color: #008d00;
	border-top:2px solid #bbb;
	border-bottom:4px solid #474747;
}

.category-nav ul {
	padding-top: 17px;
	width: 80%;
	margin:0 auto;
}

.category-nav li {
	float: right;
	margin: 0 10px;
}
.category-nav a {
	text-decoration: none;
	color: #fff;
}








